<h1 class="transactions">{{title}}</h1>
<p class="transactions">Welcome to {{title}}</p>

<div>
    <a href="/transactions/newtransaction">Add a Transaction</a>
    <br/>
    <table class="transactions" border="1">
        <tr>
            <th></th>
            <th>Description</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Payment Method</th>
            <th>Category</th>
            <th>Type</th>
        </tr>
    {{#each transactions}}
        {{#if isCredit}}
            <tr class="credit">
                {{!-- <td><a href="/transactions/edit/{{id}}">Edit</a></td> --}}
                <td><a href="/transactions/delete/{{id}}">Delete</a></td>
                <td>{{description}}</td>
                <td>{{amount}}</td>
                <td>{{frequency}}</td>
                <td>{{Paymentmethod.description}}</td>
                <td>{{category}}</td>
                <td>{{type}}</td>
            </tr>
        {{else}}
            <tr class="debit">
                {{!-- <td><a href="/transactions/edit/{{id}}">Edit</a></td> --}}
                <td><a href="/transactions/delete/{{id}}">Delete</a></td>
                <td>{{description}}</td>
                <td>{{amount}}</td>
                <td>{{frequency}}</td>
                <td>{{Paymentmethod.description}}</td>
                <td>{{category}}</td>
                <td>{{type}}</td>
            </tr>
        {{/if}}
    {{/each}}
    </table>

</div>

