<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/user.css' />
  </head>
  <body>
    <container>
      <h2><em>Tracker Profile</em></h2>
      <br />
      <div class="card" style="with: 18rem;">
        <img class="card-img-top" src='/images/blankUser.png' alt="Card image cap">
        <div class="card-body"> 
            <h5 class="card-title">Email Address:</h5>
            <p class="card-text">{{user.email}}</p>
            <h5 class="card-title">GitHub Id:</h5>
            <p class="card-text">{{user.github.id}}</p>
            <h5 class="card-title">Facebook Id:</h5>
            <p class="card-text">{{user.facebook_id}}</p>
        </div>   
      </div>
      <br />
      <h5>Payment Methods</h5>
      {{#each methods}}
        <li>{{this.description}}</li>
      {{/each}}  
    </container>
  </body>
</html>
